name: Node.js CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        mongodb-version: ['4.4', '5.0']

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Clear Node.js Modules Cache
      run: npm cache clean --force
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.7.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Install Test Dependencies
      working-directory: backend/test
      run: npm install

    - name: Install Backend Dependencies
      working-directory: backend
      run: npm install

  
    - name: Run Tests from the "test" Folder
      working-directory: backend/test
      run: npm test
